li {
  list-style: none;
  padding: 50px 30px;    
}

.style-link{
  font-weight: 600;
  text-decoration: none;
  background-color: #eb7900;
  padding: .7rem;
  color: white;
  margin: 0 .5rem;
  border-radius: 10px;
}

.opcao{  
  cursor: pointer;
}

.style-link:hover{    
  padding: .9rem;
 }